body {font-family: "Roboto Mono", monospace;
      font-weight: 700;
      background-color: #b3e9f3;}

h1 {color: #6590d1;
    text-shadow: 3px 3px 3px #48789f;}
    
img {height: 300px;
     width: 500px;}