* {background-color: dodgerblue;}

#container {
            display: grid;
            grid-template-columns: 200px 200px 200px;
            grid-template-rows: 200px 200px 100px;}

.itens {border: 1px solid black;
        text-align: center;
        height: 10em;
        background-color: dodgerblue;
        transition: all 0.8s;
    }

.itens:hover {transform: scale(1.09);
              background-color: darkblue;
              border: 2px solid white;
              border-radius: 50em;}