body {background-color: #640064;
      font-family: "Oswald", sans-serif;}

h1 ,p {color: rgb(255, 255, 255);
       text-align: center;}

img {height: 540px;
     width: 900px;
     display: block;
     margin:auto;}


  