body{
    background-color: white;
    transition: background-color 0.3 ease; /*adicionei p quando a cor for alterada, a mudança ocorrer gradualmente e mais suave*/
}

.B_12{
    border: solid 2px #D9BC66;
    padding: .5rem;
    background-color: #BFBFBF;
    margin: .7rem;
}